@charset "UTF-8";

/* Todas as demais mídias*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg); /* desnecessário*/
    }

    main{
        border: 2px solid black;
    }

    main,h1{
        text-shadow: none;
        color: black;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}

/*Tablet*/
@media screen and (min-width:481px) and (max-width:768px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);

        img#phone{display: none;}
        img#tablet{display: block;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: none;}
    }
}

/*Desktop*/
@media screen and (min-width:1025px) and (max-width:1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

/*Grandes telas*/
@media screen and (min-width:1201px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}